#mainview {
  position: absolute;
  height: 600px;
  width: 400px;
  background-color: #DDD;
}
#subview {
  position: relative;
  top: 100px;
  left: 50px;
}
.subcontent {
  height: 400px;
  width: 300px;
  background-color: #EEE;
}

